
.home {
    /* background: url(cooking-landing-page.png) no-repeat center center fixed; */
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
