{% extends "base.html" %} {% block title %} Get Recipes {% endblock %}
{% block content %}
<form method = "POST">
    <h3 align = "center">Get Recipes</h3>
    <div class = "form-group">
        <label for="numberIngredients">Number of Ingredients </label>
        <input 
        type = "text"
        id = "n_ingredients"
        name = "n_ingredients"
        maxlength="3"
        size = "8"
        class = "form-control"
        />
        <br><br>

        <label for="inputIngredients">Input Ingredients</label>
        <input
        type = "text"
        id = "input_ingredients"
        name = "input_ingredients"
        class = "form-control"
        />

        <br><br>

        <label for="cookingTime">Cooking Time</label>
        <input
        type = "text"
        id = "cooking_time"
        name = "cooking_time"
        class = "form-control"
        />
    </div>


{% endblock %}